@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 >Bienvenido a la mejor papupage del mundo</h1>
    
   <a href='@Url.Action("login")'>login</a>
    <a href='@Url.Action("registro")'>register</a>
</div>
