<form action='@Url.Action("olvidepass")' class="form" method="post">
      

      <div class="inputContainer">
        <input type="text" class="input" name="Email" placeholder="Ingrese email" required>
        <label for="" class="label">Email</label>
      </div>
            <div class="inputContainer">
        <input type="text" class="input" name="Contraseña" placeholder="Ingrese su contra nueva" required>
        <label for="" class="label">contraseña</label>
      </div>