<form action='@Url.Action("updatep")' class="form" method="post">
      

      <div class="inputContainer">
        <input type="text" class="input" name="Email" placeholder="Ingrese email" required>
        <label for="" class="label">Email</label>
      </div>